In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_online_sex_work.csv')

In [3]:
df.head()

,User_ID,Female,Age,Location,Verification,Heterosexual,Homosexual,bicurious,bisexual,Dominant,...,Member_since_month,Member_since_day,Number_of_Comments_in_public_forum,Time_spent_chating_H:M,Number_of_advertisments_posted,Number_of_offline_meetings_attended,Number of Friends,Profile_pictures,Friends_ID_list,Risk
0,10386,False,34.6,A,False,0,1,0,0,0,...,9,17,32,2,0,0,1,0,18260,0.0
1,14,False,32.2,J,False,1,0,0,0,1,...,11,1,710,225,9,0,7,0,"11778,32024,43768,23969,27318,45884,31277",0.0
2,16721,False,33.6,K,False,1,0,0,0,1,...,4,1,25,135,1,1,3,45,"19805,21721,19802",0.0
3,16957,False,34.0,H,False,1,0,0,0,1,...,4,8,107,21562,1,0,12,1,"40847,38183,9507,42259,5807,28118,24848,37170,...",0.0
4,17125,False,39.5,B,False,1,0,0,0,1,...,4,14,600,21,0,6,35,8,"1320,35739,34231,19097,20197,18069,12330,43342...",0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28831 entries, 0 to 28830
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   User_ID                              28831 non-null  int64
 1   Female                               28831 non-null  bool
 2   Age                                  28831 non-null  float64
 3   Location                             28831 non-null  object
 4   Verification                         28831 non-null  bool
 5   Heterosexual                         28831 non-null  int64
 6   Homosexual                           28831 non-null  int64
 7   bicurious                            28831 non-null  int64
 8   bisexual                             28831 non-null  int64
 9   Dominant                             28831 non-null  int64
 10  Submisive                            28831 non-null  int64
 11  Switch                               28831 non-null  int64
 12  Men                                  28831 non-null  int64
 13  Men_and_Women                        28831 non-null  int64
 14  Nobody                               28831 non-null  int64
 15  Nobody_but_maybe                     28831 non-null  int64
 16  Women                                28831 non-null  int64
 17  Points_Rank                          28831 non-null  int64
 18  Last_login                           28831 non-null  int64
 19  Member_since_year                    28831 non-null  int64
 20  Member_since_month                   28831 non-null  int64
 21  Member_since_day                     28831 non-null  int64
 22  Number_of_Comments_in_public_forum   28831 non-null  int64
 23  Time_spent_chating_H:M               28831 non-null  int64
 24  Number_of_advertisments_posted       28831 non-null  int64
 25  Number_of_offline_meetings_attended  28831 non-null  int64
 26  Number of Friends                    28831 non-null  int64
 27  Profile_pictures                     28831 non-null  int64
 28  Friends_ID_list                      3313 non-null   object
 29  Risk                                 90 non-null     float64
dtypes: bool(2), float64(2), int64(24), object(2)
memory usage: 6.2+ MB

In [5]:
df.isna().sum()

User_ID                                    0
Female                                     0
Age                                        0
Location                                   0
Verification                               0
Heterosexual                               0
Homosexual                                 0
bicurious                                  0
bisexual                                   0
Dominant                                   0
Submisive                                  0
Switch                                     0
Men                                        0
Men_and_Women                              0
Nobody                                     0
Nobody_but_maybe                           0
Women                                      0
Points_Rank                                0
Last_login                                 0
Member_since_year                          0
Member_since_month                         0
Member_since_day                           0
Number_of_Comments_in_public_forum         0
Time_spent_chating_H:M                     0
Number_of_advertisments_posted             0
Number_of_offline_meetings_attended        0
Number of Friends                          0
Profile_pictures                           0
Friends_ID_list                        25518
Risk                                   28741
dtype: int64

In [6]:
df.drop('User_ID', axis=1, inplace=True)

In [7]:
df['Friends_ID_list'].values

array(['18260', '11778,32024,43768,23969,27318,45884,31277',
       '19805,21721,19802', ..., nan, nan, nan], dtype=object)

In [19]:
def transform_id_list(x):
    if (isinstance(x, str)):
        return len(x.split(','))
    else:
        return 0;

In [21]:
df['Friends'] = df['Friends_ID_list'].apply(lambda x: transform_id_list(x))
df = df.drop('Friends_ID_list', axis = 1)

In [22]:
df['Friends'].value_counts()

0      25518
1       1662
2        598
3        313
4        164
5        128
6         74
7         52
9         45
8         44
11        32
12        22
13        21
17        20
10        15
18        11
14         9
25         8
15         8
16         7
20         7
21         6
23         6
19         6
30         5
22         4
26         4
31         4
32         4
24         4
29         3
27         3
33         3
37         2
35         2
44         2
34         2
39         1
65         1
46         1
41         1
50         1
98         1
28         1
143        1
51         1
92         1
70         1
38         1
49         1
Name: Friends, dtype: int64

In [25]:
df['Female'] = df['Female'].map({False: 0, True:1})
df['Verification'] = df['Verification'].map({False: 0, True:1})

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28831 entries, 0 to 28830
Data columns (total 29 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Female                               28831 non-null  int64
 1   Age                                  28831 non-null  float64
 2   Location                             28831 non-null  object
 3   Verification                         28831 non-null  int64
 4   Heterosexual                         28831 non-null  int64
 5   Homosexual                           28831 non-null  int64
 6   bicurious                            28831 non-null  int64
 7   bisexual                             28831 non-null  int64
 8   Dominant                             28831 non-null  int64
 9   Submisive                            28831 non-null  int64
 10  Switch                               28831 non-null  int64
 11  Men                                  28831 non-null  int64
 12  Men_and_Women                        28831 non-null  int64
 13  Nobody                               28831 non-null  int64
 14  Nobody_but_maybe                     28831 non-null  int64
 15  Women                                28831 non-null  int64
 16  Points_Rank                          28831 non-null  int64
 17  Last_login                           28831 non-null  int64
 18  Member_since_year                    28831 non-null  int64
 19  Member_since_month                   28831 non-null  int64
 20  Member_since_day                     28831 non-null  int64
 21  Number_of_Comments_in_public_forum   28831 non-null  int64
 22  Time_spent_chating_H:M               28831 non-null  int64
 23  Number_of_advertisments_posted       28831 non-null  int64
 24  Number_of_offline_meetings_attended  28831 non-null  int64
 25  Number of Friends                    28831 non-null  int64
 26  Profile_pictures                     28831 non-null  int64
 27  Risk                                 90 non-null     float64
 28  Friends                              28831 non-null  int64
dtypes: float64(2), int64(26), object(1)
memory usage: 6.4+ MB

In [27]:
df['Location'].value_counts()

A                     10945
B                      3572
G                      2211
L                      2210
M                      1261
K                      1209
C                      1176
H                      1167
E                       951
O                       892
J                       849
F                       822
N                       623
S                       484
D                       455
A kraj                    2
Jihomoravsk_Ã½ kraj        1
South Moravian            1
Name: Location, dtype: int64